[Unit]
Description=OneDrive Personal

[Service]
ExecStart=/usr/bin/rclone --vfs-cache-mode writes mount OneDrive: /home/mike/OneDrive --config /home/mike/.config/rclone/rclone.conf
ExecStop=/bin/fusermount -u /home/mike/OneDrive

Restart=always
RestartSec=10

[Install]
WantedBy=default.target
